<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>新增游戏</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">游戏名</label>
        <div class="layui-input-block">
            <input type="text" name="gamename" lay-verify="required" lay-reqtext="游戏名不能为空" placeholder="请输入游戏名"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label required ">公司</label>
        <div class="layui-input-block">
            <input name="company" lay-verify="required" lay-reqtext="公司不能为空" placeholder="请输入公司" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"  required >评分</label>
        <div class="layui-input-block">
            <input  name="score" lay-verify="required" lay-reqtext="评分不能为空" placeholder="请输入评分" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label" required >热度</label>
        <div class="layui-input-block">
            <input  name="hot" lay-verify="required" lay-reqtext="热度不能为空" placeholder="请输入热度" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label" required >游戏描述</label>
        <div class="layui-input-block">
            <textarea name="describe" lay-verify="required" lay-reqtext="游戏描述不能为空" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</div>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['form','layer'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var index = layer.confirm("确认提交", function(index) {
                //向后台发送数据
                console.log(data.field);
                $.ajax({
                    url:"addGameSubmit",
                    type:"POST",
                    data:data.field,
                    success:function (){
                        layer.msg('添加成功',{
                            icon:6,
                            time:500
                        },function (){
                            //刷新页面
                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    },
                    error:function (){
                        layer.msg("添加失败");
                    }
                });
            });
            return false;
        });

    });
</script>
</body>
</html>